<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>blogblog</title>
</head>
<body>
    <header class="display-flex justify-space-between align-center p-2">
    <h1>
        <a href="/">blogblog</a>
    </h1>
    <div class = "col-lg-6 col-md-9 col-sm-11">

    <nav>
          <button class="btn" id="homepage"><a href="/">Homepage</a></button> 
    <button class="btn" id="dashboard"><a href="/dashboard">Dashboard</a></button>         
     {{#if logged_in}}
      <button class="btn" id="logout">logout</button>
          {{/if}}
          {{#unless logged_in}}
      <button class="btn" id="login"><a href="/login">Login</a></button>
        <button class="btn" id="signup"><a href="/signup">Signup New Account<a/></button>
          {{/unless}}
    </nav>
    </div>
  </header>
   <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
  <script src="/js/main.js"></script>
  {{#if logged_in}}
   <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>